$gray: #424242;
$yellow: #ffd366;
$green: #86d73f;
$blue: #31baf9;
$orange: #ff982d;
$redish: #ff6c03;
$red: #ff1200;

.l-header {
   width: 100%;
   background-color: $gray;
   padding: 90px 0;
}

.l-container {
   max-width:900px;
   margin: 0 auto;
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: start;
}

.l-records {
   background-color: #ccc;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 48px 0;
   &__title {
      font-size: 24px;
      color: $gray;
      margin-bottom: 36px;
   }
   &__result{
      width: 100%;
      margin: 0 auto;
      max-width: 600px;
   }
}

.l-footer{
   background-color: $yellow;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 18px 0;
}